.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
}

.topContent {
  width: 90%;
  max-width: 1715px;
  height: 325px;
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.menu {
  padding: 0;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: var(--white-full-color);
    }
  }
}

.logo {
  width: 300px;
}

.socialMedia {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  gap: 100px;
  a {
    color: var(--white-full-color);
    font-size: 30px;
  }
}

.bottomContent {
  width: 100%;
  background-color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.legal {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18%;
  a {
    text-align: center;
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    color: var(--white-full-color);
  }
}

@media screen and (max-width: 550px) {
  .topContent {
    flex-direction: column;
    height: 400px;
    gap: 0px;
  }

  .links {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .menu {
    li {
      text-align: center;
    }
  }

  .socialMedia {
    width: 90%;
    height: 80%;
    gap: 80px;
  }

  .legal {
    gap: 10%;
  }
}
