.banner {
  background-color: var(--dark-blue-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  height: 700px;
  border-radius: 0 0 18% 18%;
}

.logo {
  width: 700px;
}

.title {
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: var(--white-full-color);
  margin: 10px 0;
}

.subtitle {
  font-size: 20px;
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: 300;
  color: var(--white-full-color);
  margin: 0;
  margin-bottom: 20px;
}

.illustration {
  margin-top: 30px;
}

@media screen and (max-width: 880px) {
  .banner {
    height: 430px;
    border-radius: 0 0 10% 10%;
  }

  .logo {
    width: 330px;
  }

  .title {
    margin-top: 20px;
  }

  .subtitle {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  .illustration {
    width: 200px;
  }
}
