.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 150px 0 150px 0;
  padding-top: 100px;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.callToAction {
  width: 362px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin: 0;
}

@media screen and (max-width: 1130px) {
  .activities {
    align-items: flex-start;
    gap: 40px;
  }

  .events {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .activities {
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }

  .callToAction {
    align-items: center;
  }

  .title {
    width: 90%;
    font-size: 35px;
    text-align: center;
  }
}
