.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 130px 0 50px 0;
}

.title {
  width: 70%;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}

.projects {
  width: 90%;
  max-width: 1525px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.image {
  width: 616px;
  height: 388px;
  border-radius: 0 0 13% 13%;
}

.description {
  width: 25%;
  font-family: "Molengo", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

@media screen and (max-width: 1100px) {
  .projects {
    width: 90%;
  }

  .image {
    width: 300px;
    height: 189px;
  }

  .description {
    width: 35%;
  }
}

@media screen and (max-width: 650px) {
  .portfolio {
    margin: 120px 0 50px 0;
  }

  .projects {
    flex-direction: column;
  }

  .title {
    width: 85%;
    text-align: center;
  }

  .description {
    width: 80%;
  }
}
