.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 130px 0 50px 0;
}

.title {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 900;
}

.projects {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.image {
  width: 550px;
}

.description {
  width: 25%;
  font-family: "Molengo", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

@media screen and (max-width: 1050px) {
  .projects {
    width: 90%;
  }

  .image {
    width: 300px;
  }

  .description {
    width: 35%;
  }
}

@media screen and (max-width: 650px) {
  .portfolio {
    margin: 120px 0 50px 0;
  }

  .projects {
    flex-direction: column;
  }

  .title {
    width: 85%;
    text-align: center;
  }

  .description {
    width: 80%;
  }
}
