@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

:root {
  --black-full-color: #000;
  --white-full-color: #fff;
  --blue-color: #080b18;
  --dark-blue-color: #05050d;
  --cyan-color: #32fddf;
  --purple-color: #f7277f;
}
