.contactUs {
  max-width: 1720px;
  width: 90%;
  margin: 50px auto;
  margin-bottom: 100px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 300px 0;
}

.formContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.image {
  width: 490px;
  height: 800px;
  filter: drop-shadow(-5px 5px 0px var(--cyan-color))
    drop-shadow(5px -5px 0px var(--purple-color));
}

.title {
  width: 65%;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
}

.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: var(--white-full-color);
  background-color: var(--purple-color);
  padding: 13px 45px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .contactUs {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }

  .formContainer {
    width: 80%;
    align-items: center;
  }

  .image {
    margin: 100px;
    width: 400px;
    height: 653px;
  }
}

@media screen and (max-width: 650px) {
  .image {
    width: 300px;
    height: 490px;
  }

  .title {
    width: 100%;
  }
}
